*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    background-color: #222;
}
.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(to bottom, #87CEFA, #1E90FF);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;

}
.search {
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-between;

}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 20px;
    height:60px;
    border-radius: 30px;
    flex:1;
    margin-right: 16px;
    font-size: 20px;
}
.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width:50px;
    height: 60px;
    cursor: pointer;

}
.search button img {
    width: 25px;
}
.weather-icon{
    width: 170px;
    margin-top: 30px;

}
.weather h1{
    font-size: 60px;
    font-weight: 500px;
} 
.weather h2{
    font-size: 45px;
    font-weight: 400px;
    margin-top: -10px;

} 
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 50px;
    margin-right: 15px;
}
.humidity , .wind{
    font-size: 20px;
    margin-top: -6px;
    margin-bottom: 5px;
}